* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100%;
    color: white;
    font-size: 40px;
    text-align: center;
 

}
#display{
    font-size: 5rem;
}
.container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}
input{
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 150px;
    border-bottom: 2px solid white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button{
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
}